<h1>Cyphers#query</h1>
<p>Find me in app/views/cyphers/query.html.erb</p>
<form action="/encrypt">
  <input type="text" name="sentence" placeholder="?????">
  <input type="hidden" name= "start_time">
  <input type="submit" value="try" class= "btn btn-danger">
</form>
